table {
    td,
    th {
        padding: 0 20px;
    }
}

.table {
    #main {
        .main-area {
            height: 150px;
            margin: 20px;
            background: #eee;
        }
    }
}