/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Visual
 * - - - - - - - - - - - - - - - - - - - - - - - - */

 @mixin hide-text {
		text-indent: -9999px;
		display: block;
		overflow: hidden;
	}

  @mixin visually-hidden {
		visibility: hidden !important;
		opacity: 0 !important;
		height: 0 !important;
		width: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
		border: 0 !important;
		overflow: hidden !important;
		display: block !important;
	}
