/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Variables
 * - - - - - - - - - - - - - - - - - - - - - - - - */
/*
 Define custom variables here to override helpers/variables.
*/
/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Import helpers
 * - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Variables
 * - - - - - - - - - - - - - - - - - - - - - - - - */
/* Typography */
/* Colour */
/* Responsive Breakpoints */
/* Grid */
/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Functions
 * - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Animation
 * - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Functional
 * - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Keyframes
 * - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Structural
 * - - - - - - - - - - - - - - - - - - - - - - - - */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.wrapper {
  *zoom: 1;
}
.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
@media (min-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    width: 1200px;
  }
}

.horizontal {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
}

.vertical-center {
  display: table;
  width: 100%;
  height: 100%;
}
.vertical-center > * {
  display: table-cell;
  vertical-align: middle;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Visual
 * - - - - - - - - - - - - - - - - - - - - - - - - */
.hidden {
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  Browser Update Prompt
 * - - - - - - - - - - - - - - - - - - - - - - - - */
.browser-upgrade {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
}
.browser-upgrade .close {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}
.browser-upgrade .close:before {
  content: "x";
  display: block;
  border-radius: 50%;
  font-family: 'Exo', san-serif;
  font-size: 2em;
  line-height: 100%;
}
.browser-upgrade .close span {
  display: none;
}
.browser-upgrade .browser-upgrade-content {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -6em;
  text-align: center;
}
.browser-upgrade .browser-upgrade-content .heading {
  margin-bottom: 0.5em;
  font-size: 3em;
  font-family: 'Exo', san-serif;
  text-transform: uppercase;
  line-height: 120%;
}
.browser-upgrade .browser-upgrade-content a {
  display: inline-block;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - -
 *  IE-Specific Overrides
 * - - - - - - - - - - - - - - - - - - - - - - - - */
/* Our old mate IE, sometimes needs a little extra help. Here is the metaphorical
 * counselling room where we give it some extra guidance.
 *
 * PLEASE comment each rule you have in here to explain what's going on. */

/*# sourceMappingURL=ie.css.map */
